*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    font-size: 16px;
}
header{
    background: #5F85BB;  
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body{
    background: #E0E0E0;
}
a{
    margin-right: 10px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.bar{
    background: white;
    height: 20px;
    width: 1px;
    margin-right: 10px;
}
#left{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img{
    width: 130px;
}