section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.container{
    width: 350px;
    height: 450px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
}
.login{
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
}
p{
    font-size: 14px;
    color: black;
}
label{
    font-size: 16px;
}
.id{
    margin-top: 60px;
}
.password{
    margin-top: 12px;
}
.idsave{
    margin-top: 16px;
    display: flex;
    align-items: center;
}
.eye{
    width: 20px;
    position: absolute;
    top: 410px;
    left: 870px;
}
input{
    border: 1px solid darkgray;
    border-radius: 3px;
    font-size: 12px;
    width: 260px;
    height: 34px;
    padding: 12px;
    outline: none;
}
input[type="checkbox"]{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid darkgray;
    appearance: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 8px;
  }
input[type="chckbox"]:checked ::after{
    content:'✔';
}
  .success{
    font-size: 14px;
    width: 260px;
    height: 34px;
    margin-top: 70px;
    border: none;
    background: lightgray;
    color: white;
    border-radius: 3px;
  }